Repository google/amber, pull requests merged in 2019-12, with the labels that each got.

#738 Remove redundant return
  src/executor_test.cc
Labels: bug

#733 This CL allows passing the pipeline name to the -B flag.
  samples/amber.cc
  src/amber.cc
  src/descriptor_set_and_binding_parser.cc
  src/descriptor_set_and_binding_parser.h
  src/descriptor_set_and_binding_parser_test.cc
  tests/cases/position_to_ssbo.vkscript
Labels: bug

#739 Rolling 9 dependencies
  DEPS
Labels: deps

#740 DEPS: Update clspv_llvm_revision SHA
  DEPS
Labels: deps

#742 Rolling 9 dependencies
  DEPS
Labels: deps

#746 Rolling 12 dependencies
  DEPS
Labels: deps

#749 Don't checkout clspv and dxc deps by default
  kokoro/linux-gcc-release-clspv/build.sh
  kokoro/scripts/linux/build.sh
  tools/git-sync-deps
Labels: infra

#723 Run integration tests with swiftshader
  CMakeLists.txt
  kokoro/linux-gcc-debug/build.sh
  kokoro/linux-gcc-release-clspv/build.sh
  kokoro/linux-gcc-release/build.sh
  kokoro/macos-clang-release/build.sh
  kokoro/scripts/linux/build.sh
  kokoro/scripts/macos/build.sh
  src/vulkan/command_buffer.cc
  src/vulkan/command_buffer.h
  tests/run_tests.py
Labels: infra

#750 Simplify amber_script spec document
  docs/amber_script.md
Labels: documentation

#751 Add Float 16 Support
  Android.mk
  docs/amber_script.md
  samples/config_helper_vulkan.cc
  samples/config_helper_vulkan.h
  src/CMakeLists.txt
  src/amberscript/parser.cc
  src/amberscript/parser_device_feature_test.cc
  src/buffer.cc
  src/buffer_test.cc
  src/float16_helper.cc
  src/float16_helper.h
  src/float16_helper_test.cc
  src/script.cc
  src/verifier.cc
  src/verifier_test.cc
  src/vulkan/device.cc
  tests/cases/float16.amber
  tests/run_tests.py
Labels: amberscript, enhancement

#755 Fixup float16 detection
  samples/config_helper_vulkan.cc
Labels: bug

#756 Rolling 10 dependencies
  DEPS
Labels: deps

#758 Rolling 6 dependencies
  DEPS
Labels: deps

#761 Rolling 5 dependencies
  DEPS
Labels: deps
