Repository google/amber, pull requests merged in 2020-04, with the labels that each got.

#833 Rolling 11 dependencies
  DEPS
  src/dxc_helper.cc
  third_party/CMakeLists.txt
Labels: deps

#836 Add support for new clspv interface types
  DEPS
  src/clspv_helper.cc
  src/pipeline.cc
  src/pipeline.h
  src/pipeline_test.cc
  tests/cases/opencl_set_arg.amber
Labels: enhancement

#846 Update cmake
  kokoro/scripts/linux/build.sh
  kokoro/scripts/linux/build_dawn.sh
  kokoro/scripts/windows/build.bat
Labels: infra

#850 Rolling 10 dependencies
  CMakeLists.txt
  DEPS
  src/CMakeLists.txt
  src/vulkan/CMakeLists.txt
  src/vulkan/find_vulkan.cmake
Labels: deps

#851 Update clspv (and LLVM)
  DEPS
  src/shader_compiler_test.cc
Labels: deps
