Repository google/amber, pull requests merged in 2020-03, with the labels that each got.

#807 Rolling 11 dependencies
  DEPS
Labels: deps

#794 Enable Swiftshader on Ubuntu Clang.
  kokoro/linux-clang-debug/build.sh
  kokoro/linux-clang-release/build.sh
  kokoro/scripts/linux/build.sh
Labels: infra

#809 Rolling 9 dependencies
  DEPS
Labels: deps

#810 Rolling 9 dependencies
  DEPS
Labels: deps

#811 Rolling 7 dependencies
  DEPS
Labels: deps

#815 Rolling 11 dependencies
  DEPS
Labels: deps

#825 Enable DXC and kokoro test for it
  DEPS
  kokoro/linux-clang-release/build.sh
  kokoro/linux-gcc-release/build.sh
  kokoro/scripts/linux/build.sh
  src/CMakeLists.txt
  src/dxc_helper.cc
  tests/run_tests.py
Labels: bug, infra
